<% content_for :body_content_title do %>
  <%= @rate_table.title %>
<% end %>

<% content_for :body do %>
  <section>
    <%=raw @rate_table.content %>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <% @rate_tables.group_by(&:category).each do |category, rate_tables| %>
      <h3><%= category %></h3>
      <ul id="rates">
        <% @rate_tables.each do |rate_table| %>
          <li>
            <%= link_to rate_table.title, refinery.rates_rate_table_path(rate_table) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
