<ul>
  <% if ::Refinery::Rates::Admin::RateTablesController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.rates_admin_rate_tables_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_rates_admin_rate_table_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::Rates::Admin::RateTablesController.sortable? && ::Refinery::Rates::RateTable.many? %>
  <li>
    <%= link_to t('.reorder', :what => "Rates"),
                 refinery.rates_admin_rate_tables_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Rates"),
                 refinery.rates_admin_rate_tables_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
  <li>
    Effective date: <%= @effective_date.effective_at.to_s %>
  </li>
</ul>
