<%= form_for [refinery, :rates_admin, @rate_table] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @rate_table,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <label>Copy &amp; paste this code to insert in page content:</label>
    <pre><%= @rate_table.inline_replacement_tag.presence || 'N/A' %></pre>
  </div>

  <div class='field'>
    <%= f.label :category -%>
    <%= f.select :category, @rate_table.category_options, :include_blank => true -%>
  </div>

  <div class='field'>
    <%= render '/refinery/admin/wysiwyg',
                :f => f,
                :fields => [:content],
                :object => "rates/rate_table" -%>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => true,
             :delete_title => t('delete', :scope => 'refinery.rates.admin.rates.rate_table'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @rate_table.title) -%>
<% end -%>

<% content_for :javascripts do -%>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end -%>
