<% content_for :body_content_title do %>
  <%= @rate.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @rate.title %>
    </p>
  </section>
  <section>
    <h1>Category</h1>
    <p>
      <%=raw @rate.category %>
    </p>
  </section>
  <section>
    <h1>Content</h1>
    <p>
      <%=raw @rate.content %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="rates">
      <% @rates.each do |rate| %>
        <li>
          <%= link_to rate.title, refinery.rates_rate_path(rate) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
